html{
    height: 100%;
    margin: 0;
    padding: 0;
    /* background-color: lightcoral; */
    background-color: #e3f2fd;
}

body {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-bottom: 120px;
}

h1 {
    margin: 0;
    font-size: 50px;
    font-weight: normal;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-top: auto;
}

footer p {
    margin: 0;
    font-size: 17px;
}

#container{
    margin: 0 auto;
    width: 50%;
    text-align: center;
    /* background-color: white; */
    background-color: #fff;
    padding-top: 100px;
    padding-bottom: 120px;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
#b{
    padding-bottom: 10%;
    justify-content: space-between;
}
.input-div{
    display: inline-block;
}
.inpt{
    padding: 5px 10px;
    margin: 10px;
    font-size: 30px;
    width: 340px;
    text-align: center;
    border-radius: 8px;
}
label{
    font-size: 30px;
}
#container button{
    background-color: #b2b2e9;
    width: 200px;
    height: 40px;
    padding: 8px;
    border: none;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 40px;
    font-size: large;
}
#container button:hover{
    background-color: #7575c5;
}
.active{
    background-color: #7575c5 !important;
}